nav
    .navbar-logo-container
        .navbar-logo
            img(src="../static/img/logo.jpg", alt='Logo')
            h1 My Website Name
    .navbar-menu-container
        ul.navbar-menu
    
        .navbar-shopping-bag
        a(href='#')
            i.fas.fa-shopping-bag
p a

head
    link(rel='stylesheet', href='../static/css/navBar.css')   
    script(src='../static/js/navBar.js', defer)
    