.popup {
  display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  .popup-content {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  text-align:center; /* set text-align to left */
  display: flex;
  flex-direction: column; /* set flex-direction to column */
  align-items: center; /* center horizontally */

}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

input[type="file"] {
  margin-bottom: 20px;
}

.popup-content label {
  margin-bottom: 10px;
}

.popup-content input,
.popup-content textarea {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  flex-direction:column;
}

.popup-content button {
  background-color: #ccc;
  border: none;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.popup-content input::placeholder,
.popup-content textarea::placeholder {
  text-overflow: ellipsis;
  overflow: hidden;
}